# Laravel específico
/vendor/
/node_modules/
/storage/*.key
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/storage/pail/
/storage/app/public/*
/storage/app/exports/*
.env
.env.backup
.env.production
.DS_Store

# Archivos generados
/public/storage
/public/hot
/public/build

# Logs y debug
*.log
*.sqlite
*.sqlite-journal

# IDE
.vscode/
.idea/
/.fleet/
/.nova/
/.zed/
*.sublime-workspace
*.sublime-project
.phpactor.json

# Tests
coverage/
.phpunit.cache/
.phpunit.result.cache

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Composer
composer.phar
composer.lock
auth.json

# NPM
package-lock.json
yarn.lock

# Homestead
Homestead.json
Homestead.yaml
